.search-inp {
  margin-right: 50px;
  padding-left: 10px;
  width: 200px;
  height: 40px;
  font-family: inherit;
  font-size: 18px;
  border-radius: 7px;
  color: #333333;
  background-color: whitesmoke;
}
