.list-controls {
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 1185px;
  margin: 35px auto;

  .view-toggle {
    display: flex;

    .prop-name {
      font-size: 18px;
      color: #333333;
    }
  }
}
