.toggle-switch {
  position: relative;
  width: 60px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;

  .for-switch {
    display: none;

    &:checked + .switch {
      background-color: #4caf50;
    }

    &:checked + .switch::after {
      transform: translateX(30px);
    }
  }

  .switch {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 50%;
      transition: transform 0.3s;
    }
  }
}
