.header {
  width: 100%;
  background-color: whitesmoke;

  .header__container {
    max-width: 1185px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .logo-text {
      font-size: 28px;
      font-weight: 500;
      color: #333333;
    }

    .nav-list {
      display: flex;
      gap: 40px;

      .item {
        font-size: 20px;
        color: #8c8c8c;
      }

      .item-active {
        font-size: 20px;
        color: #333333;
      }
    }
  }
}
