.user-status {
  margin-top: 30px;
  width: 80px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

._alive {
  @extend .user-status;
  color: rgb(7, 113, 7);
  background-color: rgb(114, 221, 114);
}

._deceased {
  @extend .user-status;
  color: rgb(199, 0, 0);
  background-color: rgba(250, 117, 117, 0.773);
}
