.title {
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #333333;
}

.list__container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  .person-border {
    border-bottom: 2px solid rgb(222, 222, 222); 
    margin: 0 auto;
  }
}
